@font-face {
    font-family: 'Athiti';
    src: url('Athiti-SemiBold.woff2') format('woff2'),
        url('Athiti-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

